.wrapper {
    width: @maxWidth;
    margin: 0 auto;
}
.main-a {
    position: relative;
    margin: 0 auto;
    width: @maxWidth - 100;
    padding: 0 50px 30px;
    background: #fff;
    .common-shadow();
    min-height: 560px;
    h1 {
        padding: 25px 0;
    }
}
.main-b {
    .clearfix();
    width: @maxWidth;
    margin: 0 auto;
    padding-bottom: @space;
    background: url(../images/side.gif) repeat-y 0 0 #fff;
    .common-shadow();
    min-height:600px;
}
.main-b-cont {
    margin-left: @sideWidth;
    overflow: hidden;
}

.related-pages {
    float: right;
    margin-top: 34px;
    font-size: 14px;
    a {
        margin-left: 15px;
    }
}