{% set dataKey = 'forgetPwd' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    <div class="related-pages">
        <a href="{{ WEB_ROOT }}login.php?back={{back}}">登录</a>
        <a href="{{ WEB_ROOT }}login.php?act=pageRegister&back={{back}}">注册</a>
    </div>

    <h1>找回密码</h1>

    <form id="{{dataKey}}Form" method="post" action="{{ WEB_ROOT }}login.php?back={{back}}" class="form-a">
        <input type="hidden" name="act" value="verifyNameAndEmail">
        <input type="hidden" name="data[user_id]" value="">
        <table>
            <col width="80" />
            <col width="280" />
            <tr class="tr-readonly">
                <th>用户名：<span class="required">*</span></th>
                <td><input type="text" class="text" name="data[user_name]"></td>
                <td><span class="tip">由3-10位英文字母或数字组成</span></td>
            </tr>
            <tr class="tr-readonly">
                <th>邮 箱：<span class="required">*</span></th>
                <td><input type="text" class="text" name="data[user_email]"></td>
                <td><span class="tip">注册时所填写的邮箱</span></td>
            </tr>
            <tr class="tr-disabled" style="display:none">
                <th>密码：<span class="required">*</span></th>
                <td><input type="password" class="text" name="data[user_pwd]" maxLength="16" disabled></td>
                <td><span class="tip">由6-16位下划线、英文字母或数字组成</span></td>
            </tr>
            <tr class="tr-disabled" style="display:none">
                <th>确认密码：<span class="required">*</span></th>
                <td><input type="password" class="text" name="data[repwd]" maxLength="16" disabled></td>
                <td><span class="tip"></span></td>
            </tr>
            <tr>
                <td class="td-btn" colspan="3">
                    <button class="btn btn-primary" type="submit">提&nbsp;&nbsp;交</button>
                    <a href="javascript:history.go(-1)" class="btn btn-secondary">返&nbsp;&nbsp;回</a>
                    <span id="submitTip" class="tip"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

