{% set dataKey = 'login' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    <div class="related-pages">
        <a href="{{WEB_ROOT}}login.php?act=pageRegister&back={{back}}">注册</a>
        <a href="{{WEB_ROOT}}login.php?act=pageFindPwd&back={{back}}">找回密码</a>
    </div>

    <h1>登录网站</h1>

    <form id="{{dataKey}}Form" method="post" action="{{WEB_ROOT}}login.php?back={{back}}" class="form-a">
        <input type="hidden" name="act" value="verifyLogin">
        <table>
            <col width="80" />
            <col width="280" />
            <tr>
                <th>用户名：<span class="required">*</span></th>
                <td><input type="text" class="text" name="data[user_name]" maxLength="10"></td>
                <td><span class="tip">由3-10位英文字母数字组成</span></td>
            </tr>
            <tr>
                <th>密码：<span class="required">*</span></th>
                <td><input type="password" class="text" name="data[user_pwd]" maxLength="16"></td>
                <td><span class="tip">由6-16位下划线、英文字母或数字组成</span></td>
            </tr>
            <tr>
                <td class="td-btn" colspan="3">
                    <button class="btn btn-primary" type="submit">登&nbsp;&nbsp;陆</button>
                    <a href="javascript:history.go(-1)" class="btn btn-secondary">返&nbsp;&nbsp;回</a>
                    <span id="submitTip" class="tip"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
