.index-hot {
    background: #fff;
    @include common-shadow();
    height: 32px;
    line-height: 32px;
    padding: 0 30px;
    margin-bottom: $space;
    h3{
        float: left;
    }
    a {
        margin-right: 13px;
    }
}