<h1>待审核文件<span class="total">({{total}})</span></h1>
<div class="fileBoxList">
	{% for box in boxList %}
	<dl class="fileBox">
		{% for file in box['pending'] %}
		<dt{{loop.last ? ' class="last"' : ''}} id="bid_{{file['book_id']}}">
			<h3>
				<a href="{{ WEB_ROOT }}onebook.php?book_id={{file['book_id']}}" target="_blank">{{file['book_name']}}</a>
				<span>by {{file['book_author']}}</span>
			</h3>
			<div class="o">
				<input class="btn5 btn-delete" type="submit" value="重复了">
				<input class="btn6 btn-pass" type="submit" value="通 过">
			</div>
		</dt>
		{% endfor %}
		
		{% if box['exist']|length != 0 %}
		<dd>
			<ul class="c">
				{% for file in box['exist'] %}
				<li><a href="{{ WEB_ROOT }}onebook.php?book_id={{file['book_id']}}" target="_blank">{{file['book_name']}}</a></li>
				{% endfor %}
			</ul>
		</dd>
		{% endif %}
	</dl>
	{% endfor %}
</div>