{% set dataKey = 'pending' %}
{% extends "master/base.html" %}

{% block content %}
<h1>待审核文件</h1>

<div class="list-b" id="pendingList">
	{% for box in list %}
        <dl class="list-b-box">
            <dt>
                <div class="options fr">
                    <button class="btn btn-primary btn-batch-pass" type="button">全部通过</button>
                </div>
                <h3>{{ box['book_author'] }}</h3>
            </dt>
            <dd>
                {% if box['exist']|length != 0 %}
                    <ul class="exist">
                        {% for file in box['exist'] %}
                            <li><i class="fa fa-angle-right"></i><a href="{{ WEB_ROOT }}onebook.php?book_id={{ file['book_id'] }}" target="_blank">{{ file['book_name'] }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                {% endif %}

                <ul class="pending">
                    {% for file in box['pending'] %}
                        <li data-book-id="{{ file['book_id'] }}">
                            <div class="options fr">
                                <button class="btn btn-secondary btn-repeat" type="button">重复了</button>
                                <button class="btn btn-primary btn-pass ml2" type="button">通&nbsp;过</button>
                            </div>
                            <a href="{{ WEB_ROOT }}onebook.php?book_id={{ file['book_id'] }}" target="_blank">{{ file['book_name'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
	{% else %}
        <div class="success-large">&radic; 所有文件审批完毕</div>
	{% endfor %}
</div>

{% endblock %}