{% set dataKey = 'batchUpload' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    <div class="related-pages">
        <a href="{{ WEB_ROOT }}upload.php">单个文件上传</a>
    </div>

    <h1>批量上传</h1>

    {% if result is not defined or result.code != 0  %}
        {% include 'batchUpload/verifyForm.html' %}
    {%  endif %}

    {% if result is defined %}
        {% if result.code == 0 %}
            {% include 'batchUpload/uploadForm.html' %}
            {% include 'batchUpload/resultSuccessList.html' %}
        {%  elseif result.code == 2 %}
            {% include 'batchUpload/resultErrorList.html' %}
        {%  else %}
            {% include 'batchUpload/resultErrorTip.html' %}
        {%  endif %}

    {%  endif %}
</div>
{% endblock %}