{% set dataKey = 'upload' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    <div class="related-pages">
        <a href="{{ WEB_ROOT }}onebook.php?book_id={{ file['book_id'] }}" target="_blank">文件详细信息</a>
    </div>

    <h1>{{file['book_name']}}</h1>

    <form action="{{ WEB_ROOT }}editbook.php?book_id={{file['book_id']}}" method="post" id="uploadForm" class="form-a">
        <input type="hidden" name="act" value="editBook">
        <input type="hidden" name="data[book_id]" value="{{file['book_id']}}">

        {% set domPrefix = 'upload' %}
        {% include 'upload/tableInBookForm.html' %}
    </form>

    <div id="uploadSuccess" class="success-large hide">&radic; 修改成功！</div>
    <div id="uploadFail" class="error-large hide">&times; 修改失败，请刷新重试！</div>
</div>
{% endblock %}