{% set dataKey = 'onebook' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    {% if file is not empty %}
        <div class="article-title">
            <h1>{{ file['book_name'] }}</h1>
            {% include 'snippets/like.html' %}
        </div>

        <div class="article-info">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="40%">
                    <col width="10%">
                    <col width="40%">
                </colgroup>
                <tr>
                    <th>作者</th>
                    <td>{{ file['book_author'] }}</td>
                    <th>上传用户</th>
                    <td>{{ file['show']['book_uploader'] }}</td>
                </tr>
                <tr>
                    <th>分类</th>
                    <td>{{ file['show']['book_type'] }}</td>
                    <th>上传日期</th>
                    <td>{{ file['book_upload_time'] }}</td>
                </tr>
                <tr>
                    <th>文风</th>
                    <td>{{ file['show']['book_style'] }}</td>
                    <th>文件大小</th>
                    <td>{{ file['book_size'] }}</td>
                </tr>
                <tr>
                    <th>性向</th>
                    <td>{{ file['show']['book_sex'] }}</td>
                    <th>标签</th>
                    <td>
                        {% if file['show']['book_tags'] is not empty %}
                            {% for tag in file['show']['book_tags'] %}
                                <span class="mr4">{{tag}}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>

                {% if file['book_summary'] %}
                    <tr>
                        <th>文案</th>
                        <td colspan="3">{{ file['book_summary']|raw }}</td>
                    </tr>
                {% endif %}
                {% if file['book_original_site'] %}
                    <tr>
                        <th>原创网址</th>
                        <td colspan="3"><a href="{{ file['book_original_site'] }}" target="_blank">{{ file['book_original_site'] }}</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <div class="article-preview">
		{% if file['book_status'] == 1 or file['book_status'] == 2 %}
			<h3>文章试读</h3>
			{{ file['filePreview'] | raw}}

            {% if file['book_status'] == 1 %}
                <div class="goOn">试读结束，请下载后阅读全文：<a href="{{ WEB_ROOT }}download.php?book_id={{ file['book_id'] }}" target="_blank">{{ file['book_name'] }}</a></div>
            {% else %}
                <div class="goOn">该文件尚未通过审核，无法下载。将于24小时内审核结束，请耐心等待。</div>
            {% endif %}

		{% elseif file['book_status'] == 2 %}

		{% else %}
			<h3 class="deleted">因版权或其它原因，该文件已删除。</h3>
		{% endif %}
    </div>
	{% else %}
	    <div class="error-large middle">&times; 很遗憾，没找到！</div>
	{% endif %}
</div>
{% endblock %}