{% set dataKey = 'upload' %}
{% extends "common/base.html" %}

{% block main %}
<div class="main-a">
    <div class="related-pages">
        <a href="{{ WEB_ROOT }}batchUpload.php">批量上传</a>
    </div>

    <h1>单个文件上传</h1>

    <form action="{{ WEB_ROOT }}upload.php" method="post" enctype="multipart/form-data" id="attaForm" class="form-a">
        <input type="hidden" name="act" value="verifyAtta">
        <table>
            <tr>
                <th width="80">上传文件：</th>
                <td><input type="file" name="attachment" id="attachment"><span id="attaTip" class="tip"></span></td>
            </tr>
        </table>
    </form>

    <form action="{{ WEB_ROOT }}upload.php" method="post" id="uploadForm" class="form-a hide">
        <input type="hidden" name="act" value="uploadNew">
        <input type="hidden" name="data[book_size]" value="">
        <input type="hidden" name="data[book_path]" value="">
        <table>
            <col width="80" />
            <col width="280" />
            <col width="" />
            <tr>
                <th>书名：<span class="required">*</span></th>
                <td><input type="text" class="text" name="data[book_name]" readonly></td>
                <td><span class="tip"></span></td>
            </tr>
            <tr>
                <th>作者：<span class="required">*</span></th>
                <td><input type="text" class="text" name="data[book_author]" readonly></td>
                <td><span class="tip"></span></td>
            </tr>
            <tr>
                <th>分类：<span class="required">*</span></th>
                <td>
                    <select name="data[book_type]">
                        {% for id, type in attr_type %}
                            <option value="{{ id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><span class="tip"></span></td>
            </tr>
            <tr>
                <th>文风：</th>
                <td>
                    <select name="data[book_style]">
                        {% for id, style in attr_style %}
                            <option value="{{ id }}">{{ style }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>简介：</th>
                <td colspan="2"><textarea class="area" name="data[book_summary]"></textarea></td>
            </tr>
            <tr>
                <th>原创网址：</th>
                <td colspan="2"><input type="text" class="text" name="data[book_original_site]"></td>
            </tr>
            <tr>
                <th>标签：</th>
                <td colspan="2">
                    <ul class="option-list">
                        {% for id, tag in attr_tags %}
                        <label><input type="checkbox" name="data[book_tags][]" value="{{ id }}">{{ tag }}</label>
                        {% endfor %}
                    </ul>
                    <p id="btagsTip" class="tip"></p>
                </td>
            </tr>
            <tr>
                <td class="td-btn" colspan="2">
                    <button class="btn btn-primary" type="submit">上&nbsp;&nbsp;传</button>
                    <button class="btn btn-secondary" type="reset">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}