/*main*/
.main_home {
	clear: both;
	margin: 0 auto;
	width: @maxWidth;
}
//快速导航
.quickNav_a(@index:1) {
	@offsetX: -165px;
	@offsetY: -50px;
	background-position: ((@index - 1) * @offsetX) 0;
	&:hover {
		background-position: ((@index - 1) * @offsetX) @offsetY;
	}
}
.quickNav {
	margin-top: 20px;
	a {
		float:left;
		display: inline-block;
		width: 155px;
		height: 50px;
		line-height: 50px;
		overflow: hidden;
		text-indent: -1000px;
		background: url(../images/quicknav.png) no-repeat;
		margin-left: 10px;
		.box-shadow(0 1px 3px @colorLightGray);
		&.a1{
			margin-left: 0;
			.quickNav_a(1);
		}
		&.a2{
			.quickNav_a(2);
		}
		&.a3{
			.quickNav_a(3);
		}
		&.a4{
			.quickNav_a(4);
		}
		&.a5{
			.quickNav_a(5);
		}
		&.a6{
			.quickNav_a(6);
		}
	}
}

//热门搜索
.hotSearch {
	background: #fff;
	box-shadow: 0 1px 3px @colorLightGray;
	height: 32px;
	line-height: 32px;
	padding: 0 30px;
	margin-top: 17px;
	h3{
		float: left;
	}
	a {
		margin-right: 13px;
	}
}
//小说列表
.novList {
	.t {
		white-space: nowrap;
		position: relative;
		h3 {
			font-size: 14px;
			span {
				color: @colorLightGray;
				margin-left: 10px;
				font-size: 12px;
				font-weight: normal;
			}
		}
		p {
			position: absolute;
			right: 0;
			top: 0;
			color: @colorLightGray;
			text-align: right;
		}
	}
	.d {
		font-size: 14px;
		margin-top: 10px;
		line-height: 26px;
	}
	.o {
		white-space: nowrap;
		position: relative;
		margin-top: 10px;
		.oc1 {
			color: @colorLightGray;
			span {
				margin-right: 10px;
			}
		}
		.oc2 {
			position: absolute;
			right: 0;
			top: 0;
			a {
				margin-left: 10px;
			}
		}
	}
}
.separated li {
	background: #fff;
	box-shadow: 0 1px 3px @colorLightGray;
	padding: 18px 30px 15px;
	margin-top: 20px;
	line-height: 22px;
}
.listing {
	padding: 10px 25px 0;
	li {
		background: url(../images/line2.gif) repeat-x 0 100%;
		padding: 14px 5px 16px;
		line-height: 22px;
	}
}
.eva {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width: 12px;
	height: 11px;
	line-height: 200px;
	overflow: hidden;
	background: url(../images/evabg.gif) no-repeat 0 0;
	margin-left: 10px;
	&.eva_1 {
		background-position: 0 -12px;
	}
}
/*书库*/
.main_browse {
	clear: both;
	width: @maxWidth;
	margin: 20px auto 0;
	padding-bottom: 20px;
	background: url(../images/sidebar.gif) repeat-y 0 0 #fff;
	box-shadow: 0 1px 3px @colorLightGray;
	min-height:600px;
}
.sidebar {
	width: @sideWidth;
	float: left;
}
.sbSearch {
	background: url(../images/line1.gif) repeat-x 0 100%;
	padding: 10px 17px 22px 15px;
	line-height: 0;
	.text {
		width: 128px;
		margin-top: 10px;
	}
	select {
		margin-top: 10px;
	}
	.btn5 {
		margin-top: 12px;
	}
}
.sb-menu {
	padding: 10px 15px;
	font-size: 14px;
	line-height: 24px;
}
.sb-separate {
	background: url(../images/line1.gif) repeat-x 0 100%;
	height: 2px;
}
.sbHot {
	line-height: 22px;
	padding: 13px 17px 0 15px;
	h3 {
		margin-bottom: 2px;
	}
	a {
		margin-right: 12px;
	}
}
.col2Main {
	margin-left: @sideWidth;
}
.padMain {
	padding: 0 30px 30px;
	h1 {
		padding: 25px 0;
		.total {
			color:@colorLightGray;
			margin-left: 15px;
		}
	}
}
.filter {
	width: 100%;
	height: 49px;
	background: url(../images/filter.gif) repeat-x 0 0;
	position: relative;
	white-space: nowrap;
	.sort {
		height: 23px;
		line-height: 23px;
		padding: 15px 0 0 25px;
		span {
			display: inline-block;
			height: 23px;
			vertical-align: top;
		}
		a {
			display: inline-block;
			width: 58px;
			height: 23px;
			overflow: hidden;
			padding-left: 11px;
			margin-right: 5px;
			background: url(../images/sort.gif) no-repeat 0 0;
			vertical-align: top;
			color: #444;
			&.cur, &:hover {
				background-position: 0 -25px;
				color: #415f83;
				text-decoration: none;
			}
		}
	}
	.total {
		height: 23px;
		line-height: 23px;
		position: absolute;
		top: 15px;
		right: 25px;
		color: @colorLightGray;
		span {
			margin: 0 6px;
		}
	}
}
.pages {
	text-align: center;
	clear: both;
	padding-top: 30px;
	.pre, .next {
        display: inline-block;
        vertical-align: middle;
        background: url(../images/btn.gif) no-repeat;
        border: none;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        &:hover {
            text-decoration: none;
        }
        width: 36px;
		height: 36px;
		line-height: 300px;
		margin: 0 10px;
	}
	.pre {
		background-position: 0 -26px;
		&:hover {
			background-position: -38px -26px;
		}
	}
	.next {
		background-position: -76px -26px;
		&:hover {
			background-position: -114px -26px;
		}
	}
	.select {
		ul {
			top: auto;
			bottom: 29px;
			li {
				padding: 0;
			}
		}
	}
}
.browseTip {
	padding: 25px;
}
//上传新书
.tbl {
	td {
		padding-bottom: 10px;
		font-size: 14px;
	}
	th {
		vertical-align: top;
		line-height: 30px;
		font-size: 14px;
		font-weight: normal;
		text-align: left;
		padding-right: 5px;
		white-space: nowrap;
	}
	.text {
		width: 250px;
	}
	.area {
		width: 95%;
		height: 130px;
	}
	label {
		margin-right: 25px;
		display: inline-block;
		height: 30px;
		line-height: 30px;
		input {
			margin-right: 6px;
			vertical-align: middle;
		}
	}
	.ml {
		margin-left: 10px;
	}
	.td-btn {
		padding-top: 20px;
		input {
			margin-right: 10px;
		}
	}
	.tip {
		color: #aaa;
		font-size: 12px;
	}
	span.tip {
		margin-left: 10px;
	}
	p.tip {
		margin-top: 5px;
	}
}
.batchOption {
	border-top: solid 1px #ddd;
	padding-top: 20px;
	margin-top: 10px;
	form td {
		padding-right: 20px;
	}
}
.fileList {
	border-top: solid 1px @colorBorder;
	padding-top: 20px;
	margin-top: 10px;
	h3 {
		font-weight: normal;
		margin-bottom: 8px;
	}
	table {
		width: 100%;
		td {
			line-height: 18px;
			padding: 5px 10px;
			border-top: dotted 1px @colorBorder;
		}
		thead td {
			background: #f5f5f5;
			font-weight: bold;
			border-top-style: solid;
		}
	}
	&.bbord {
		border-bottom: solid 1px @colorBorder;
	}
	&.ntbord {
		border-top: none;
		padding-top: 0;
		margin-top: 0;
	}
}
.fileBox {
	border: solid 1px @colorBorder;
	margin-bottom: 15px;
	font-size: 14px;
	dt {
		background: #f5f5f5;
		padding: 10px 10px;
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
		position: relative;
		border-bottom: dotted 1px @colorBorder;
		&.last{
			border-bottom: none;
		}
	}
	h3 span {
		font-weight: normal;
		font-size: 12px;
	}
	.o {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.c {
		border-top: dotted 1px @colorBorder;
		padding: 10px 0;
		overflow: hidden;
		li {
			width: 45%;
			padding:5px 10px;
			float: left;
		}
	}
}


.articleTitle {
	position: relative;
	.heat {
		position: absolute;
		top: 38px;
		right: 0;
		color: @colorLightGray;
		font-size: 12px;
	}
}
.articleInfo table {
	width: 100%;
	th, td {
		text-align: left;
		border: solid 1px @colorBorder;
		padding: 4px 10px;
		font-size: 14px;
		font-weight: normal;
		line-height: 24px;
	}
	th {
		background: #f7f7f7;
	}
}
.articlePreview {
	h3 {
		margin: 20px 0 10px;
		background: #f7f7f7;
		padding: 10px;
		color: #000;
		text-align: center;
		&.deleted {
			color: #444;
		}
	}
	p {
		margin-bottom: 10px;
		text-indent: 2em;
		font-size: 14px;
		line-height: 26px;
		color: #333;
	}
	.goOn {
		text-align: center;
		background: #f7f7f7;
		padding: 10px;
		color: #000;
	}
}