<form action="{{ WEB_ROOT }}batchUpload.php" method="post" id="uploadForm" class="form-a mb3">
    <input type="hidden" name="act" value="batchUpload">
    <input type="hidden" name="legalDir" value="">
    <table>
        <col width="80" />
        <col width="280" />
        <col width="" />

        <tr>
            <th>目录：</th>
            <td colspan="2"><input type="text" class="text" name="dir" value="{{ dir }}" readonly></td>
        </tr>

        {% include 'snippets/bookType.html' %}
        {% include 'snippets/bookStyle.html' %}
        {% include 'snippets/bookTags.html' %}
        <tr>
            <td colspan="3" class="td-btn">
                <button id="btnBatchUpload" class="btn btn-primary" type="submit">上&nbsp;&nbsp;传</button>
                <a href="{{ WEB_ROOT }}batchUpload.php" class="btn btn-secondary">返&nbsp;&nbsp;回</a>
            </td>
        </tr>
    </table>
</form>