{% if fileList | length != 0 %}
	{{html_listFilter | raw}}
	<ul class="novList{{extendClass}}">
		{% for file in fileList %} 
		<li>
			<div class="t">
				<h3>
					<a href="{{ WEB_ROOT }}onebook.php?book_id={{file['book_id']}}" target="_blank">{{file['book_name']}}</a>
					<span>作者：{{file['book_author']}}</span>
				</h3>
				<p>
					热度：<span class="eva_count" id="eva_count_{{file['book_id']}}">{{file['beva']}}</span>
					{% if file['misc']['meva'] %}
					<span class="eva eva_1" title="取消喜欢" id="eva_{{file['book_id']}}"></span>
					{% else %}  
					<span class="eva" title="喜欢" id="eva_{{file['book_id']}}"></span>
					{% endif %}
				</p>
			</div>
			<div class="d">{{file['book_summary']}}</div>
			<div class="o">
				<p class="oc1">
					<span>{{file['btype_lang']}}</span>
					
					{% if file['book_style'] != 0 %}
					<span>{{file['bstype_lang']}}</span>
					{% endif %}
					
					{% for tag in file['btags'] %}
					<span>{{tag}}</span>
					{% endfor %}
					
					<span>{{file['book_size']}}</span>
				</p>
				{% if file['book_status'] %}
				<p class="oc2">
					<a href="{{ WEB_ROOT }}download.php?book_id={{file['book_id']}}" target="_blank">下载</a>
					<a href="{{ WEB_ROOT }}editbook.php?book_id={{file['book_id']}}">编辑</a>
					<a href="javascript:void(0)" class="btnDelFile" id="del_{{file['book_id']}}">删除</a>
				</p>
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
	{{html_pageString | raw}}
{% else %}
	<div class="browseTip">没有记录</div>
{% endif %}