<div class="pager">
    {% if currentPage == 2 %}
        <a class="btn btn-secondary" href="{{ firstPageUrl }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    {% elseif currentPage > 2 %}
        <a class="btn btn-secondary" href="{{ baseUrl ~ (currentPage - 1) }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    {% endif %}

    <select onchange="javascript:location.href=this.value;">
        {% for i in (1..pageTotal) %}
            <option value="{{ i==1 ? firstPageUrl : (baseUrl~i) }}"{{ currentPage == i ? ' selected' : '' }}>{{ i }}</option>
        {% endfor %}
    </select>

    {% if currentPage < pageTotal %}
        <a class="btn btn-secondary" href="{{ baseUrl ~ (currentPage + 1) }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    {% endif %}
</div>