<form action="{{ WEB_ROOT }}upload.php" method="post" id="batchForm" class="form-a mb3 hide">
    <input type="hidden" name="act" value="batchUpload">
    <input type="hidden" name="data[files]" value="">

    {% set domPrefix = 'batch' %}
    <table>
        {% include 'upload/colgroup.html' %}

        {% set typeIsRequired = false %}
        {% include 'upload/bookType.html' %}

        {% include 'upload/bookStyle.html' %}
        {% include 'upload/bookTags.html' %}

        {% set btnPrefix = 'batch' %}
        {% include 'upload/btns.html' %}
    </table>
</form>