{% if fileList is not empty %}
	{{filter | raw}}

    {% set listClass = listClass is defined ? listClass : 'list-d' %}
	<ul class="{{ listClass }}">
        {% for file in fileList %}
        <dl class="{{ listClass }}-box clearfix">
            <dt class="{{ listClass }}-title">
                <h3>
                    <a href="{{ WEB_ROOT }}onebook.php?book_id={{ file['book_id'] }}" target="_blank">{{ file['book_name'] }}</a>
                </h3>
                <span>作者：{{ file['book_author'] }}</span>
            </dt>

            <dd class="{{ listClass }}-info">
                {% if file['book_type'] != 0 %}
                    <span>{{ file['show']['book_type'] }}</span>
                {% endif %}

                {% if file['book_style'] != 0 %}
                    <span>{{ file['show']['book_style'] }}</span>
                {% endif %}

                {% for tag in file['btags'] %}
                    <span>{{tag}}</span>
                {% endfor %}

                <span>{{ file['book_size'] }}</span>
            </dd>

            {% if file['book_summary'] %}
                <dd class="{{ listClass }}-summary">{{ file['book_summary']|raw }}</dd>
            {% endif %}
        </dl>
		{% endfor %}
	</ul>

	{{pager | raw}}
{% else %}
	<div class="browseTip">没有记录</div>
{% endif %}